
time{
	left: 46%;
}




@media only screen and (max-width: 1400px) {
  time {
		position: absolute;
    left:45%;
  }
}

@media only screen and (max-width: 1100px) {
  time {
		position: absolute;
    left:43%;
  }
}

@media only screen and (max-width: 950px) {
  time {
		position: absolute;
    left:42%;
  }
}

@media only screen and (max-width: 766px) {
  time {
		position: absolute;
    left:40%;
  }
}

@media only screen and (max-width: 580px) {
  time {
		position: absolute;
    left:36%;
  }
}
@media only screen and (max-width: 388px) {
  time {
		position: absolute;
    left:30%;
  }
}

@media only screen and (max-width: 288px) {
  time {
		position: absolute;
    left:27%;
  }
}


h1 {
	font-family: "Pacifico";
	font-weight: bold;
	font-size: 4.5rem;
	color: #f0f0f0;
  text-align: center;
}

p {
  font-size: 30px;
  text-align: center;

}

button {
		height: 100%}
    .button {
    background-color: blue;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }

  .button:hover {box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.wrapper{
  text-align: center;
}


nav{
	display: flex;
}
